# Old site for local archive
_old/

# Jekyll build output
_site/

# Cache and metadata
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Bundler dependencies
/vendor/
.bundle/

# Astro build output
dist/

# Astro generated types
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production

# OS files
.DS_Store

# JetBrains
.idea/
