/* 
Alster Orange: #EB7814
*/
html {
  font-size: 16px;
}
.bg-orange {
  background-color: #EB7814;
}
.card {
  border: 0px;
}
.head-shot {
  height: 200px;
  width: 200px;
  margin: 1em;
}
ul.details {
  font-size: 13px;
}